<table>
        <thead class="encabezado">
        <tr>
         <th colspan="2" class="text-center">Unidad Ambiental</th>
     </tr>
 </thead>
 <tbody>
    <tr> 
        <th>Nombre Completo</th>
        <th>Cargo</th> 
    </tr> 

            <tr class="gradeX" >
        <td>Martina Luisiana Milado Reyes</td>
        <td>Jefe Oficina Regional Occidental</td>

    </tr>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    <thead class="encabezado">
        <tr>
         <th colspan="2" class="text-center">Unidad De Auditoria Interna</th>
     </tr>
 </thead>
 <tbody>
    <tr> 
        <th>Nombre Completo</th>
        <th>Cargo</th> 
    </tr> 

        </tbody>
        <tr class="gradeX" >
        <td>Sofia Nohemy Hernandez Corpeño</td>
        <td>Jefe de unidad financiera</td>

    </tr>
    </tbody>
        <tr class="gradeX" >
        <td>Veronica Patricia Lopez Perez</td>
        <td>Sub Gerente Legal</td>

    </tr>
    </tbody>
        <tr class="gradeX" >
        <td>Victor Manuel Arriaga Borja</td>
        <td>Oficial de Información Interina/Unidad de Acceso a la Información Pública</td>

    </tr>
    </tbody>
        <tr class="gradeX" >
        <td>Sofia del Carmen Marroquin Castillo</td>
        <td>Jefa Departamento de Recuperación y Adjudicación de Inmuebles FINATA-Banco de Tierras</td>

    </tr>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    <thead class="encabezado">
        <tr>
         <th colspan="2" class="text-center">Unidad De Comunicaciones</th>
     </tr>
 </thead>
 <tbody>
    <tr> 
        <th>Nombre Completo</th>
        <th>Cargo</th> 
    </tr> 

        </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
        <tr class="gradeX" >
        <td>Franco Ernesto Rivera Rivera</td>
        <td>Jefa Unidad Ambiental</td>

    </tr>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    <thead class="encabezado">
        <tr>
         <th colspan="2" class="text-center">Unidad De Planificación</th>
     </tr>
 </thead>
 <tbody>
    <tr> 
        <th>Nombre Completo</th>
        <th>Cargo</th> 
    </tr> 

        </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
        <tr class="gradeX" >
        <td>Sandra Ismel Azucena Hernandez</td>
        <td>Jefe Departamento de Servicios Generales</td>

    </tr>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    <thead class="encabezado">
        <tr>
         <th colspan="2" class="text-center">Unidad de Recursos Humanos</th>
     </tr>
 </thead>
 <tbody>
    <tr> 
        <th>Nombre Completo</th>
        <th>Cargo</th> 
    </tr> 

        </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
        <tr class="gradeX" >
        <td>Mia Roberto Coluchi</td>
        <td>Gerente Recursos Humanos</td>

    </tr>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    <thead class="encabezado">
        <tr>
         <th colspan="2" class="text-center">Unidad Financiera Institucional</th>
     </tr>
 </thead>
 <tbody>
    <tr> 
        <th>Nombre Completo</th>
        <th>Cargo</th> 
    </tr> 

        </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
    </tbody>
        <tr class="gradeX" >
        <td>Josue Alexis Vasquez Navas</td>
        <td>Sub Gerente Legal</td>

    </tr>
    </tbody>
        <tr class="gradeX" >
        <td>Lorena Margarita Ordoñez Escobar</td>
        <td>Jefe Unidad de Adquisiciones y Contrataciones Institucional</td>

    </tr>
    </tbody>
        <tr class="gradeX" >
        <td>Griselda Estela Ramirez Marquez</td>
        <td>Jefe Departamento de Servicios Generales</td>

    </tr>
    </tbody>
        <tr class="gradeX" >
        <td>Marcos Antonio Asesc</td>
        <td>Jefa Departamento de Asistencia Ciudadana</td>

    </tr>
    </tbody>

</table>