<table>
    <thead>
        <tr class="encabezado">
            <th>Codigo</th>
            <th>Nombre del Empleado</th>
            <th>Unidad ADM</th>
            <th>Fecha</th>
            <th>Tipo Plaza</th>
            <th>Salario</th>
            <th>Mes</th>
            <th>Horas</th>
            <th>Minutos</th>
        </tr>
    </thead>
    <tbody>
          <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">hh25825</td>
        <td class="celda">sandra azucena</td>
        <td class="celda">Oficina Administracion</td>
        <td class="celda">2020-07-03</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">858.00</td>
        <td class="celda">7</td>
        <td class="celda">02</td>
        <td class="celda">59</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">hh25825</td>
        <td class="celda">sandra azucena</td>
        <td class="celda">Oficina Administracion</td>
        <td class="celda">2020-07-06</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">858.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">00</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">hh25825</td>
        <td class="celda">sandra azucena</td>
        <td class="celda">Oficina Administracion</td>
        <td class="celda">2020-07-09</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">858.00</td>
        <td class="celda">7</td>
        <td class="celda">02</td>
        <td class="celda">28</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">ll02024</td>
        <td class="celda">martina milado</td>
        <td class="celda">Oficina Ambiental</td>
        <td class="celda">2020-07-01</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">5963.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">00</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">ll02024</td>
        <td class="celda">martina milado</td>
        <td class="celda">Oficina Ambiental</td>
        <td class="celda">2020-07-02</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">5963.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">00</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">ll02024</td>
        <td class="celda">martina milado</td>
        <td class="celda">Oficina Ambiental</td>
        <td class="celda">2020-07-10</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">5963.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">00</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">ll02024</td>
        <td class="celda">martina milado</td>
        <td class="celda">Oficina Ambiental</td>
        <td class="celda">2020-07-13</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">5963.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">00</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">ll02024</td>
        <td class="celda">martina milado</td>
        <td class="celda">Oficina Ambiental</td>
        <td class="celda">2020-07-15</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">5963.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">00</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">mc10060</td>
        <td class="celda">Sofia del Carmen Marroquin Castillo</td>
        <td class="celda">Oficina Administrativa</td>
        <td class="celda">2020-07-02</td>
        <td class="celda">Contrato</td>
        <td class="celda">700.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">01</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">mc10060</td>
        <td class="celda">Sofia del Carmen Marroquin Castillo</td>
        <td class="celda">Oficina Administrativa</td>
        <td class="celda">2020-07-07</td>
        <td class="celda">Contrato</td>
        <td class="celda">700.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">00</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">mc10060</td>
        <td class="celda">Sofia del Carmen Marroquin Castillo</td>
        <td class="celda">Oficina Administrativa</td>
        <td class="celda">2020-07-09</td>
        <td class="celda">Contrato</td>
        <td class="celda">700.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">00</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">mc10060</td>
        <td class="celda">Sofia del Carmen Marroquin Castillo</td>
        <td class="celda">Oficina Administrativa</td>
        <td class="celda">2020-07-14</td>
        <td class="celda">Contrato</td>
        <td class="celda">700.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">01</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">oe1007</td>
        <td class="celda">sofy marroquin</td>
        <td class="celda">Oficina de Comunicaciones</td>
        <td class="celda">2020-07-06</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">600.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">00</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">oe1007</td>
        <td class="celda">sofy marroquin</td>
        <td class="celda">Oficina de Comunicaciones</td>
        <td class="celda">2020-07-13</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">600.00</td>
        <td class="celda">7</td>
        <td class="celda">00</td>
        <td class="celda">00</td>

    </tr>
    
         <!--Aqui va el forech-->
   
     <tr>
        <td class="celda">oe1007</td>
        <td class="celda">sofy marroquin</td>
        <td class="celda">Oficina de Comunicaciones</td>
        <td class="celda">2020-07-14</td>
        <td class="celda">Ley de Salarios</td>
        <td class="celda">600.00</td>
        <td class="celda">7</td>
        <td class="celda">01</td>
        <td class="celda">28</td>

    </tr>
    
        <!--Fin de for-->
    <tfoot>
        <tr>
            <td class="celda">2020-07-01 00:00:00</td>
            <td class="celda">2020-07-15 00:00:00</td>
        </tr>
    </tfoot>
</tbody>
</table>